<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>
<div class="container" >
  <h3 class="page-header titulo">ADM. DE USU&Aacute;RIOS</h3>
  <div class="row row-admin">
    <div class="col-md-3 items">
      PESQUISA POR TERMO:
    </div>
    <div class="col-md-3 form-group">
      <input type="text" name="searchTerm" class="form-control form-items"
             placeholder="Escreva o termo pelo qual quer pesquisar."
             ng-model="searchTerm"
             required >
    </div>
    <div class="col-md-2 items">
      <!-- Rounded switch -->
      <label class="switch-filtro">
        <input type="checkbox"
               ng-model="pendentesAtivacao"
               aria-label="Ativo">
        <div class="slider round"></div>
      </label>
      &nbsp;&nbsp;Pendentes
    </div>
    <div class="col-md-1 items">
      <button type="button" class="btn btn-sm tiny-form-buttons"
              ng-click="admin.search(searchTerm,pendentesAtivacao)"><b>Pesquisar</b>
      </button>&nbsp;
    </div>
    <div class="col-md-1 items">
      <a data-ui-sref="admin" data-ui-sref-opts="{reload: true}">Limpar</a>
    </div>
  </div>
  <!-- <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p> -->
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span><br>
          <label>RG: &nbsp;</label><span class="text-muted">{{user.rg}}</span><br>
          <label>CPF: &nbsp;</label><span class="text-muted">{{user.cpf}}</span><br>
          <label>CREMERS: &nbsp;</label><span class="text-muted">{{user.cremers}}</span><br>
          <label>ESPECIALIDADE: &nbsp;</label><span class="text-muted">{{user.especialidade}}</span><br>
	    </div>
      <div class="user-info">
        <br>
        <br>
        <label>TELEFONE: &nbsp;</label><span class="text-muted">{{user.telefone}}</span><br>
        <label>ENDEREÇO: &nbsp;</label><span class="text-muted">{{user.endereco}}</span><br>
        <label>CIDADE / UF: &nbsp;</label><span class="text-muted">{{user.cidade}}/{{user.uf}}</span><br>
        <label>ESTADO CIVIL: &nbsp;</label><span class="text-muted">{{user.estadoCivil}}</span><br>
      </div>
      <div>
        <!-- Rounded switch -->
        <label class="switch">
          <input type="checkbox"
           ng-model="user.ativo"
           ng-click="admin.toggleActive(user)"
           ng-change="stateChanged(user)"
           aria-label="Ativo">
          <div class="slider round"></div>
        </label>
        <button type="button" class="btn btn-sm tiny-form-buttons"
        ng-click="admin.delete(user)"><b>Remover</b>
      </button>&nbsp;&nbsp;Ativo&nbsp;
    </div>
        <!-- <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a> -->
    </li>
  </ul>
</div>
