<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>

<div class="container">
  <h3 class="page-header titulo">D&Uacute;VIDAS</h3>
  <div class="row">
    <div class="col-md-12 items">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="duvida in vm.Duvidas">
        <li ng-show="{{duvida.ativo}} === true || vm.isAdmin() === true">
          {{duvida.duvida}}
          <div class="row" ng-show="vm.isAdmin()">
            <div class="duvida-buttons">
              <label class="switch">
                <input type="checkbox" ng-model="duvida.ativo" ng-click="vm.toggleActive(duvida)" aria-label="Ativo">
                <div class="slider round"></div>
              </label>
              <button type="button" class="btn btn-sm tiny-form-buttons" ng-click="vm.deleteDuvida(duvida)">
                <b>REMOVER</b>
              </button>&nbsp;&nbsp;Ativa&nbsp;
            </div>
          </div>
          <div class="row" ng-show="vm.isAdmin()">
            <textarea id='resposta' cols="40" class="duvida-resposta" ng-model="duvida.resposta" placeholder="Responda a d&uacute;vida aqui.">
            </textarea>
            <br/>
            <button type="button" class="btn btn-sm duvida-buttons tiny-form-buttons" ng-click="vm.answerDuvida(duvida)">
              <b>RESPONDER</b>
            </button>
            <button type="button" class="btn btn-sm duvida-buttons tiny-form-buttons" ng-click="vm.limparResposta(duvida)">
              <b>LIMPAR RESPOSTA</b>
            </button>
          </div>
          <div class="col-md-12 items" ng-show="({{duvida.ativo}} === true && vm.temResposta(duvida) === true && (vm.isAdmin() === false))">
            Resposta: <i>{{duvida.resposta}}</i>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="duvida-form" name="form" ng-submit="vm.addDuvida(form)" novalidate>
          <label class="subtitulo">Tire suas D&uacute;vidas...</label>
          <p class="input-group col-md-4">
            <div class="form-group">
              <input type="text" name="newDuvida" class="form-control form-items" placeholder="Adicionar uma nova duvida aqui." ng-model="vm.newDuvida" required>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control form-items" placeholder="Informe aqui seu Email" ng-model="vm.newEmailAutor" required>
            </div>
            <div class="form-group has-error row">
              <ul class="help-block items" ng-show="(form.email.$error.required || form.email.$error.email || form.newDepoimento.$error.required) && vm.submitted">
                Favor informar:
                <li class="items help-block" ng-show="form.email.$error.required && vm.submitted">
                  Endere&ccedil;o de Email.
                </li>
                <li class="items help-block" ng-show="form.email.$error.email && vm.submitted">
                  Endere&ccedil;o de Email v&aacute;lido.
                </li>
                <li class="items  help-block" ng-show="form.newDuvida.$error.required && vm.submitted">
                  Sua D&uacute;vida.
                </li>
              </ul>
              <p class="help-block">{{ vm.errors.duvida }}</p>
            </div>
            <button type="button" class="btn btn-primary form-buttons" ng-click="vm.addDuvida(form)">
              Adicionar Nova D&uacute;vida
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
