<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>
<div class="container" >
  <h3 class="page-header titulo">LOGIN</h3>
  <div class="row">
    <div class="col-sm-12 accounts-items">
      <!-- <h2 class="page-header accounts-titulo">LOGIN</h2> -->
      <!--<p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>-->
      <p>Informe seu Email e Senha para acessar as op&ccedil;&otilde;es exclusivas do MyClincca.</p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>

        <div class="form-group">
          <label>Senha</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Favor informar seu Email e sua Senha.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Favor informar um Email v&aacute;lido.
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div>
          <button class="btn btn-lg btn-login btn-primary form-buttons"" type="submit">
            Login
          </button>
          <a class="btn btn-lg btn-register btn-primary form-buttons" btn-register" ui-sref="signup">
            Cadastre-se
          </a>
        </div>

        <hr/>
        <!--<div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>-->
      </form>
    </div>
  </div>
  <hr>
</div>
