<div class="container creditos">
    Marca registrada &copy;
    <a href="http://www.myclincca.com.br">MyClin.cca</a>, 2017.</br>
    Desenvolvido em: Angular Fullstack v4.1.4 |
      <a href="http://angular-fullstack.github.io/">Documentation</a> |
      <a href="https://gitter.im/DaftMonk/generator-angular-fullstack">Chat on Gitter</a> |
      <a href="https://github.com/angular-fullstack/generator-angular-fullstack/issues?state=open">Issues</a> |
      <a href="https://opencollective.com/angular-fullstack">Donate to our Open Collective</a>
</div>
