<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>

<div class="container">
  <h3 class="page-header titulo">APLICATIVOS</h3>
  <div class="row aplicativos">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" style="background-color: white;">
          <p style="text-align: justified;margin-top: 5%;">
            Muito em breve, a MyClincca estar&aacute; disponibilizando aplicativos para
            smartphones e celulares (iOS e Android).
            <br/><br/>
            Estes aplicativos ter&atilde;o op&ccedil;&otilde;es espec&iacute;ficas
            orientadas &agrave; profissionais da &aacute;rea da sa&iacute;de:
            como agendamento de procedimentos; mas tamb&eacute;m vai incluir
            itens de utilidade geral, como descri&ccedil;&atilde;o dos procedimentos, esclarescimento de d&uacute;vidas, depoimentos,
            links para sites relacionados, e mais...
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="background-color: white">
          <ul style="text-align: justified;margin-top: 2%;">

            <li style="padding:20px;">
              CL&Iacute;NICA
            </li>
            <li style="padding:20px;">
              AGENDAMENTOS
            </li>
            <li style="padding:20px;">
              PROCEDIMENTOS
            </li>
            <li style="padding:20px;">
              DEPOIMENTOS
            </li>
            <li style="padding:20px;">
              D&Uacute;VIDAS
            </li>
            <li style="padding:20px;">
              LINKS
            </li>
            <li style="padding:20px;">
              CONTATO
            </li>
          </ul>
        </div>
        <div style="background-color:white;">
          <img src="../../assets/images/myclincca_app_launch.png" width="50%" align="center" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" align="center">
          <input
            type="button"
            style="border: 2px solid; border-radius: 12px; margin-top: 20px; margin-bottom: 40px; padding: 20x; font-family: 'Roboto Condensed'; font-size: 20px; color: white; background-color: #00a2aa; height: 44px;"
            value="SIM! Quero me cadastrar para receber mais informa&ccedil;&otilde;es..."
            onclick="document.location='https://docs.google.com/forms/d/1LNm8XnxEuWikwWuB6S-_GzQCFyudG_Rt7u0wrns1iY0/edit?uiv=1'"/>
        </div>
      </div>
    </div>
  </div>
