@import '~bootstrap/less/bootstrap.less';
@import '~bootstrap-social/bootstrap-social.less';
@import '~font-awesome/less/font-awesome.less';

@icon-font-path: '/assets/fonts/bootstrap/';
@fa-font-path: '/assets/fonts/font-awesome/';

/**
 * App-wide Styles
 */

 .navbar_hidden {
   display: none;
 }

.creditos {
  display : table-row;
  vertical-align : bottom;
  height : 1px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hero-unit {
  font-family: 'Roboto Condensed';
  font-size: x-large;
  font-weight: bolder;
  color: #0098A1;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #58574E;
}

.head-title {
  line-height: 96px;
  text-align: center;
  vertical-align: middle;
}

div.scrollmenu {
    font-family: 'Roboto Condensed';
    background-color: #6c6b60;
    font-size:18px;
    white-space: nowrap;
    //color: #FFF;
    overflow-y: visible;
    height:35px;

}

div.scrollmenu a {
    font-family: 'Roboto Condensed';
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}


.form-buttons {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #00a2aa;
}

.accounts-items {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: bolder;
  background: #ffffff;
  color: #000000;
}

.accounts-titulo {
  font-family: 'Roboto Condensed';
  font-size: larger;
  font-weight: bolder;
  background: #ffffff;
  color: #000000;
  margin-bottom: 20px;
  margin-top: -7px;
}

.titulo {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: bolder;
  background: #00a2aa;
  color: #ffffff;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 50px;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 30px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 40px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

#myclin-menu {
    position: relative;
    font-size: 0.8em;
    font-family: 'Roboto Condensed';
    background-color: #6c6b60;
    font-size:15px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    overflow: visible;
    height: 35px;
    z-index: 1;
}


#myclin-menu ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 2;
}

#myclin-menu li {
    display: block;
    width: 140px;
    float: left;
    border-right: 1px solid #999;
    z-index: 3;
    overflow: visible;
}

#myclin-menu a {
    color: #ffffff;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: -5px;
    padding: 10px 0px;
}


#myclin-menu ul.sub-menu {
    display: none;
    position: relative;
    z-index: 3;
}

#myclin-menu ul.sub-menu li {
    width: 140px;
    background-color: #58574E;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #666666;
}

#myclin-menu ul.sub-menu li a {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 10px;
}

#myclin-menu ul.sub-menu li a:hover {
    color: snow;
    background-color: #6c6b60;
}

#myclin-menu li:hover ul.sub-menu {
    display: block;
    z-index: 4;
}

#myclin-menu li > ul {
    width: 140px;
    top: 35px;
    left: inherit;
    position: absolute !important;
}



html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* inject:less */
@import 'admin/admin';
@import 'agendaconsulta/agendaconsulta';
@import 'agendaprocedimento/agendaprocedimento';
@import 'aplicativos/aplicativos';
@import 'clinica/clinica';
@import 'depoimento/depoimento';
@import 'duvida/duvida';
@import 'enlace/enlace';
@import 'forgot/forgot';
@import 'main/main';
@import 'procedimento/procedimento';
@import 'tipoprocedimento/tipoprocedimento';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
