<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>

<div class="container">
  <h3 class="page-header titulo">TIPOS DE PROCEDIMENTOS</h3>
  <div class="row">
    <div class="col-md-12 items">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="tipoprocedimento in vm.TipoProcedimentos">
      <li>
        <div class="col-md-12 items tiposprocedimentos-header">
          {{tipoprocedimento.tipo}}</br>
        </div>
        <div class="row" ng-show="vm.isAdmin()">
          <div class="tipoprocedimento-buttons">
            <label class="switch">
              <input type="checkbox" ng-model="tipoprocedimento.ativo" ng-click="vm.toggleActive(tipoprocedimento)" aria-label="Ativo">
              <div class="slider round"></div>
            </label>
            <button type="button" class="btn btn-sm tiny-form-buttons" ng-click="vm.deleteTipoProcedimento(tipoprocedimento)">
              <b>REMOVER</b>
            </button>&nbsp;&nbsp;Ativa&nbsp;
          </div>
        </div>
        <div class="row" ng-show="vm.isAdmin()">
          <textarea id='descricao' cols="40" class="tipoprocedimento-descricao" ng-model="tipoprocedimento.descricao" placeholder="Atualize a descri&ccedil;&atilde;o do Tipo de Procedimento.">
          </textarea>
          <br/>
          <button type="button" class="btn btn-sm tipoprocedimento-buttons tiny-form-buttons" ng-click="vm.updateTipoProcedimento(tipoprocedimento)">
            <b>ATUALIZAR</b>
          </button>
          <button type="button"  class="btn btn-sm tipoprocedimento-buttons tiny-form-buttons" ng-click="vm.limparDescricao(tipoprocedimento)">
            <b>LIMPAR DESCRI&Ccedil;&Atilde;O</b>
          </button>
        </div>
        <div class="col-md-12 items tiposprocedimentos" ng-show="({{tipoprocedimento.ativo}} === true) && (vm.isAdmin() === false)">
          <i>{{tipoprocedimento.descricao}}</i>
        </div>
      </li>
    </ul>
  </div>
  <div class="row" ng-show="vm.isAdmin()">
    <div class="col-md-12">
      <form class="tipoprocedimento-form" name="form" ng-submit="vm.addTipoProcedimento(form)" novalidate>
        <label class="subtitulo">Cadastre um novo tipo de procedimento...</label>
        <p class="input-group col-md-4">
          <div class="form-group">
            <input type="text" name="tipo" class="form-control form-items" placeholder="Adicionar um novo Tipo de Procedimento aqui." ng-model="vm.newTipoProcedimento" required>
          </div>
          <div class="form-group">
            <textarea id='descricao' cols="40" class="tipoprocedimento-descricao" ng-model="vm.newTipoProcedimentoDescricao" placeholder="Descrever o novo tipo de procedimento aqui.">
            </textarea>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control form-items" placeholder="Informe aqui seu Email" ng-model="vm.newEmailAutor" required>
          </div>
          <div class="form-group has-error row">
            <ul class="help-block items" ng-show="(form.email.$error.required || form.email.$error.email || form.tipo.$error.required || form.descricao.$error.required) && vm.submitted">
              Favor informar:
              <li class="items help-block" ng-show="form.email.$error.required && vm.submitted">
                Endere&ccedil;o de Email.
              </li>
              <li class="items help-block" ng-show="form.email.$error.email && vm.submitted">
                Endere&ccedil;o de Email v&aacute;lido.
              </li>
              <li class="items  help-block" ng-show="form.tipo.$error.required && vm.submitted">
                O Tipo de Procedimento.
              </li>
            </ul>
            <p class="help-block">{{ vm.errors.tipoprocedimento }}</p>
          </div>
          <button type="button" class="btn btn-primary form-buttons" ng-click="vm.addTipoProcedimento(form)">
            Adicionar Novo Tipo De Procedimento
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
