<div class="navbar navbar-default navbar-static-top navbar_hidden">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">myclincca-site</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row hero-unit">
  <div class="col-lg-3">
    <img src="assets/images/logo.png" alt="MyClin CCA Logo">
  </div>
  <div class="col-lg-9">
    <div style="text-align: right; color: snow; font-family:'Roboto Condensed';float: right;font-size: 18px;" ng-show="$ctrl.isLoggedIn()">
      <p class="navbar-text">Ol&aacute; {{ $ctrl.getCurrentUser().name }}</p>
    </div>
    <p class="head-title">CENTRO CIR&Uacute;RGICO AMBULATORIAL</p>
  </div>
</div>
<div class="row" style="overflow: visible; heigh: 35px;">
  <div id="myclin-menu">
    <ul>
      <li><a id="" class="" href="/clinica">CL&Iacute;NICA</a></li>
      <li><a id="" class="" href="/tipoprocedimento">PROCEDIMENTOS</a>
        <!-- <ul class="sub-menu">
          <li><a href="">CIRURGIAS</a></li>
          <li><a href="">CONSULTAS</a></li>
          <li><a href="">AVALIA&Ccedil;&Otilde;ES</a></li>
        </ul> -->
      </li>
      <li><a id="" class="" href="/duvida">D&Uacute;VIDAS</a></li>
      <li><a id="" class="" href="/depoimento">DEPOIMENTOS</a></li>
      <li><a id="" class="" href="/enlace">LINKS</a></li>
      <li><a id="" class="" href="mailto://myclin.cca@gmail.com">CONTATO</a></li>
      <li><a id="" class="" href="">DIVERSOS</a>
        <ul class="sub-menu">
          <li><a href="https://facebook.com/myclincca" target="_blank">FACEBOOK</a></li>
          <li><a href="/aplicativos">AP.MOBILE</a></li>
        </ul>
      </li>
      <li><a id="" class="" href="">ACESSO</a>
        <ul class="sub-menu">
          <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">LOGIN</a></li>
          <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">CADASTRE-SE</a></li>
          <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings">TROCA DE SENHA</a></li>
          <li ng-hide="$ctrl.isLoggedIn()"><a id="" class="" href="/forgot">REDEFINIR SENHA</a></li>
          <li ng-show="$ctrl.isLoggedIn()"><a href="/agendaprocedimento">AGENDA PROC.</a></li>
          <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">SAIR</a></li>
        </ul>
      </li>
      <li><a id="" ng-show="$ctrl.isAdmin()" class="" href="">ADMINISTRATIVO</a>
        <ul class="sub-menu">
          <!--<li ng-show="$ctrl.isAdmin()"><a href="/agendaconsulta">AGENDA CONS.</a></li>-->
          <li ng-show="$ctrl.isAdmin()"><a href="/admin">ADM. USU&Aacute;RIOS</a></li>
          <li ng-show="$ctrl.isAdmin()"><a href="/procedimento">TAB. PROCEDIMENTOS</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
