<header class="hero-unit" id="banner">
  <script>
    $(document).ready(() => {
      const temp = new Array();
      temp.push('Seg');
      temp.push('Ter');
      let i = 0;
      jQuery('table thead tr th').each(function () {
        console.log('I: ',i);
        console.log('VALUE: ',$(this).html());
        if(i === 1) { // nonth year
          const posMY = $(this).html().indexOf($(this).text());
          const lenMY = $(this).text().length;
          console.log('POSMY: ',posMY);
          console.log('LENMY: ',lenMY);
          const cmpl = $(this).text().substr(posMY+lenMY);
          console.log('CMPL: ', cmpl);
          const mName = $(this).text().split(' ')[0];
          let newName;
          console.log('MNAME: ',mName);
          const yValue = $(this).text().split(' ')[1];
          switch (mName) {
            case 'January':
              newName = 'Janeiro ' + yValue;
              break;
            case 'February':
              newName = 'Fevereiro ' + yValue;
              break;
            case 'March':
              newName = 'Março ' + yValue;
              break;
            case 'April':
              newName = 'Abril ' + yValue;
              break;
            case 'May':
              newName = 'Maio ' + yValue;
              break;
            case 'June':
              newName = 'Junho ' + yValue;
              break;
            case 'July':
              newName = 'Julho ' + yValue;
              break;
            case 'August':
              newName = 'Agosto ' + yValue;
              break;
            case 'September':
              newName = 'Setembro ' + yValue;
              break;
            case 'October':
              newName = 'Outubro ' + yValue;
              break;
            case 'November':
              newName = 'Novembro ' + yValue;
              break;
            case 'December':
              newName = 'Dezembro ' + yValue;
              break;
            default:
              break;
          }
//          if (newName !== '') {
//            const currentHtml = $(this).html();
//            var newHtml = currentHtml.substr(0,posMY) + newName + '</strong></button>';
//            console.log('NEWHTML: ',newHtml);
//            $(this).html(newHtml);
//          }
        }
        if (i === 3) { $(this).text('Seg'); }
        if (i === 4) { $(this).text('Ter'); }
        if (i === 5) { $(this).text('Qua'); }
        if (i === 6) { $(this).text('Qui'); }
        if (i === 7) { $(this).text('Sex'); }
        if (i === 8) { $(this).text('Sab'); }
        if (i === 9) { $(this).text('Dom'); }
        i = i + 1;
      });
    });
  </script>
  <div class="container">

  </div>
</header>
<div class="container">
  <h3 class="page-header titulo">AGENDA DE PROCEDIMENTOS</h3>
  <form class="agendaprocedimento-form" name="form"
        novalidate>
    <!--<label class="subtitulo">Agende Procedimentos para Médicos / Grade de Horários</label>-->
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-12 items">
            <div class="form-group">
              <input type="text"
                     name="nome"
                     class="form-control"
                     placeholder="Nome Completo do Paciente"
                     ng-model="vm.pacienteNome"
                     required>
            </div>
          </div>
        </div><!-- PACIENTE NOME -->
        <div class="row">
          <div class="col-sm-12 items">
            <div class="form-group">
              <input type="text"
                     name="telefone"
                     class="form-control"
                     placeholder="Telefone do Paciente"
                     ng-model="vm.pacienteTelefone"
                     required>
            </div>
          </div>
        </div><!-- PACIENTE TELEFONE -->
        <div class="row">
          <div class="col-sm-12 items">
            <div class="form-group">
              <input type="text"
                     name="pacienteEmail"
                     class="form-control"
                     placeholder="Email do Paciente"
                     ng-model="vm.pacienteEmail"
                     >
            </div>
          </div>
        </div><!-- PACIENTE EMAIL -->
        <div class="row">
          <div class="col-sm-12 items">
            <div class="form-group">
              <input type="text"
                     name="pacienteDataNascimento"
                     class="form-control"
                     placeholder="Data de Nascimento do Paciente"
                     ng-model="vm.pacienteDataNascimento"
                     >
            </div>
          </div>
        </div><!-- PACIENTE DATA NASCIMENTO -->
        <div class="row" ng-show="vm.isLoggedIn()"><!-- MEDICO DD -->
          <div class="col-md-12 mc-info-block" ng-show="vm.isAdmin()">
            <label class="mc-label">Médico: </label>
            <select name="medicosList"
                    class="mc-dd"
                    ng-options="medico.name+' - '+medico.especialidade for medico in medicos"
                    ng-model="vm.medicoSelected">
              <option value="">--Selecione um Médico--</option>
            </select>&nbsp;&nbsp;<span class="mc-selected" ng-if="vm.medicoSelected"> Cremers: {{vm.medicoSelected.cremers}} - Tel. {{vm.medicoSelected.telefone}}</span>
          </div>
        </div><!-- MEDICO DD -->
        <div class="row">
          <div class="col-sm-12 items">
            <div class="form-group">
              <input type="text"
                     name="honorariosMedicos"
                     class="form-control"
                     placeholder="Honorários"
                     ng-model="vm.honorariosMedicos"
                     required>
            </div>
          </div>
        </div><!-- MEDICOS HONORARIOS -->
        <div class="row">
          <div class="col-sm-12 items">
            <div class="form-group">
              <input type="text"
                     name="observacao"
                     class="form-control"
                     placeholder="Observação"
                     ng-model="vm.observacao"
                     >
            </div>
          </div>
        </div><!-- OBSERVACAO -->
        <div class="row" ng-show="vm.isLoggedIn()"><!-- PROCEDIMENTO DD -->
          <div class="col-md-12 mc-info-block">
            <label class="mc-label">Procedimento: </label>
            <select name="procedimentosList"
                    class="mc-dd"
                    ng-options="procedimento.procedimento for procedimento in procedimentos"
                    ng-model="vm.procedimentoSelected">
              <option value="">--Selecione um Procedimento--</option>
            </select>
          </div>
        </div><!-- PROCEDIMENTO DD -->
        <div class="row">
          <div class="col-md-12 mc-box" ng-if="vm.procedimentoSelected">
            <div class="row">
              <div class="col-md-4">Descrição:</div>
              <div class="col-md-8">{{vm.procedimentoSelected.descricao}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Duração:</div>
              <div class="col-md-8">{{vm.procedimentoSelected.duracao}} min.</div>
            </div>
            <div class="row">
              <div class="col-md-4">Tipo de Procdimento:</div>
              <div class="col-md-8">{{vm.procedimentoSelected.tipo}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Valor do Procedimento:</div>
              <div class="col-md-8">{{vm.procedimentoSelected.valor}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">Detalhes</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul ng-show="vm.procedimentoSelected.detalhes.length > 0"
                    class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-4"
                    ng-repeat="detalhe in vm.procedimentoSelected.detalhes">
                  <li class="mc-detalhe">{{detalhe}}</li>
                </ul>
                <span ng-hide="vm.procedimentoSelected.detalhes.length > 0">&nbsp;</span>
              </div>
            </div>
          </div>
        </div><!-- SELECTED PROCEDIMENTO -->
        <div class="form-group row">
          <div class="col-md-12">
            <button type="button"
                    class="btn btn-primary btn-sm form-buttons-agenda"
                    ng-disabled="
            vm.targetDate === null || (vm.medicoSelected === null && vm.isAdmin === true) ||
            (vm.currentUser === null && vm.isAdmin === false)  ||
            vm.procedimentoSelected === null || vm.horarioSelected === null ||
            form.nome.$error.required || form.telefone.$error.required "
                    ng-click="vm.confirmaAgendamento(form)">
              Confirmar Agenda de Procedimento
            </button>
            <button type="button"
                    class="btn btn-primary btn-sm form-buttons"
                    ng-disabled="vm.targetDate === null && vm.medicoSelected === null && vm.procedimentoSelected === null && vm.horarioSelected === null"
                    ng-click="vm.clearAgendaProcedimentoForm()">
              Limpar
            </button>
          </div>
        </div>
      </div><!-- PACIENTE, MEDICO E PROCEDIMENTO -->
      <div class="col-md-4" style="align-items: center;"><!-- DATEPICKER, SELETOR HORARIOS -->
        <div class="row" ng-show="vm.isLoggedIn()">
          <div class="col-md-12">
            <div uib-datepicker class="mc-datepicker"
                 ng-model="vm.targetDate"
                 ng-change="vm.gotDateChange()"
                 is-open="vm.datePicker.opened"
                 datepicker-options="vm.dateOptions"
                 ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
            </div>
          </div>
        </div><!-- DATEPICKER -->
        <div class="row mc-selected" ng-show="vm.isLoggedIn()"><!-- SELECTED HORARIO -->
          <div class="col-md-12" ng-if="vm.horarioSelected">
            <label>Horário selecionado: {{vm.horarioSelected}} hs.</label>
          </div>
          <div ng-hide="vm.horarioSelected">
            <label>Nenhum Horário selecionado.</label>
          </div>
        </div><!-- SELECTED HORARIO -->
        <div class="row" ng-show="vm.isLoggedIn()"><!-- SELETOR -->
          <div class="col-md-12  mc-horarios" ng-show="vm.isLoggedIn()">
            <ul class="nav nav-tabs nav-stacked col-md-2" ng-repeat="slot in vm.timeSlots.data">
              <li ng-show="{{slot.ativo}} === true">
                <button class="horarios-btns-enabled"
                        ng-show="slot.disponivel"
                        ng-model="horarioSelected"
                        ng-click="vm.setHorarioSelected(slot)">
                  {{slot.horario}}
                </button>
                <button disabled ng-show="slot.disponivel === false" class="horarios-btns-disabled">
                  {{slot.horario}}
                </button>
              </li>
            </ul>
          </div>
        </div><!-- SELETOR -->
      </div><!-- DATEPICKER, SELETOR HORARIOS -->
    </div>

    <div class="form-group has-error">
      <span class="help-block items"
            ng-show="(form.nome.$error.required || form.telefone.$error.required || vm.errors.agendaProcedimento) && vm.submitted">
      Favor informar:
      </span>
      <span class="items help-block" ng-show="form.nome.$error.required && vm.submitted">
      Nome Completo do Paciente.
      </span>
      <span class="items help-block" ng-show="form.telefone.$error.required && vm.submitted">
      Telefone do Paciente
      </span>
      <span class="help-block">{{ vm.errors.agendaProcedimento }}</span>
    </div>
  </form>
  <span class="grade-horarios">AGENDAMENTOS DO DIA - {{vm.getFormattedDate(vm.targetDate)}}</span>
  <div class="borderedRow">
    <div class="row items-agenda"
         ng-show="ap.disponivel === false && ((vm.isAdmin() === false && ap.user._id === vm.currentUser._id) || vm.isAdmin() === true)"
         ng-repeat="ap in vm.timeSlots.data">
      <div class="col-md-1 items-agenda">
        {{ap.horario}}
      </div>
      <div class="col-md-1 items-agenda">
        {{ap.pacienteNome}}
      </div>
      <div class="col-md-2 items-agenda">
        {{ap.pacienteTelefone}}
      </div>
      <div class="col-md-2 items-agenda">
        <a tooltip-placement="top-left"
           uib-tooltip-html="
           ap.procedimento.descricao + '&#013;&#013;' +
           'Dura&ccedil;&atilde;o: ' + ap.procedimento.duracao + ' min.&#013;&#013;' +
           'Tipo: ' + ap.procedimento.tipo + '&#013;&#013;' +
           'Valor: ' + ap.procedimento.valor + '&#013;&#013;' +
           'Detalhes: ' + '&#013;' +
           ap.procedimento.detalhes.join('&#013;')">
          {{ap.procedimento.procedimento}}
        </a>
      </div>
      <div class="col-md-1 items-agenda">
        {{ap.procedimento.valor}}
      </div>
      <div class="col-md-2 items-agenda">
        {{ap.user.name}}
      </div>
      <div class="col-md-1 items-agenda">
        {{ap.honorariosMedicos}}
      </div>
      <div class="col-md-1 items-agenda">
        <a tooltip-placement="top-left"
           uib-tooltip="{{ap.observacao}}">
          {{ap.observacao.substr(0,8)}}...
        </a>
      </div>
      <!-- ADD MORE HERE... -->
      <div class="col-md-1">
        <button type="button"
                class="close" uib-tooltip="Remover."
                ng-click="vm.cancelaAgendamento(ap)">
          &times;
        </button>
      </div>
      <!--</div>-->
    </div>
  </div>
  <hr/>
</div>

