.mc-box {
  border: 2px solid;
  border-color: black;
  //background-color: #88ffbb;
  margin: 8px;
  padding: 6px;
  font-family: 'Roboto Condensed';
  font-size: medium;
  font-weight: bold;
  text-align: left;
}


.mc-info-block {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.mc-selected {
  font-family: 'Roboto Condensed';
  font-size: small;
  font-weight: bold;
  text-align: center !important;

}

.mc-label {
  font-family: 'Roboto Condensed';
  font-size: medium;
  font-weight: bold;
  text-align: left;
  width: 170px;
}

.mc-detalhe {
  font-family: 'Roboto Condensed';
  font-size: small;
  font-weight: bold;
  text-align: left;
}

.mc-dd {
  font-family: 'Roboto Condensed';
  font-size: medium;
  font-weight: bold;
  text-align: left;
  width: 270px;
}

.mc-horarios {
  padding-right: 60px;
}

.borderedRow {
  border: solid 2px;
}

.horarios-btns {
  &:extend(.btn);
  &:extend(.btn-primary);
  &:extend(.btn-xs);
  margin: 2px;
  font-family: 'Roboto Condensed';
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.horarios-btns-enabled {
  &:extend(.horarios-btns);
  outline: 0;
  background-color: white;
  color: black;
  &:focus {
    background-color: #00a2aa;
    border-color: lightgreen;
    color: white;
  };
}

.horarios-btns-disabled {
  &:extend(.horarios-btns);
  background-color: red;
  color: white;
}

.grade-horarios {
  font-family: 'Roboto Condensed';
  font-size: medium;
}

.mc-datepicker {
  width:240px;
  margin-left:30px;
  margin-right:auto;
  height: 260px;
  margin-top: auto;
  margin-bottom: -20px;
}

.form-group {
  &:extend(.form-group);
  margin-bottom: 0px;
}

.form-buttons-agenda {
  &:extend(.form-buttons);
  margin:5px;
}

.tiny-form-buttons-agenda {
  &:extend(.tiny-form-buttons);
}

.items-agenda {
  &:extend(.items);
  font-size: small !important;
  font-weight: bold;
  margin: 0 !important;
  padding-top: 3px;
  vertical-align: middle;
  text-align: left;

}

.tooltip-inner {
  max-width: 350px;
  /* If max-width does not work, try using width instead */
  width: 350px;
  white-space:pre-wrap;
}

.obs-tooltip {
  &:extend(.tooltip-inner);
  position: absolute !important;
  top: 30px !important;
  left: -270px !important;
}

div.tooltip-inner {
  text-align: left;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 6px;
  background-color: #505050;
  font-size: 14px;
}
