<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>

<div class="container">
  <h3 class="page-header titulo">TABELA DE PROCEDIMENTOS</h3>
  <div class="row">
    <div class="col-md-12 items">
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="procedimento in vm.Procedimentos">
        <li ng-show="procedimento.ativo === true || vm.isAdmin() === true">
          <!-- TITULO DO PROCEDIMENTO -->
          <div ng-show="vm.isAdmin() === true">
            <input type="text"
                   id="procedimento"
                   class="form-control procedimento-procedimento"
                   style="margin-left: -15px; margin-top: 50px;"
                   ng-model="procedimento.procedimento"
                   placeholder="Informe o Nome do Procedimento aqui."/>
          </div>
          <!-- SWITCH ATIVACAO -->
          <div class="row" ng-show="vm.isAdmin()">
            <div class="procedimento-buttons">
              <label class="switch">
                <input type="checkbox"
                       ng-model="procedimento.ativo"
                       ng-click="vm.toggleActive(procedimento)"
                       ng-change="stateChanged(procedimento)"
                       aria-label="Ativo"/>
                <div class="slider round"></div>
              </label>
              <button type="button" class="btn btn-sm procedimento-buttons tiny-form-buttons"
                      ng-click="vm.deleteProcedimento(procedimento)">
                <b>REMOVER</b>
              </button>
              <span class="procedimento-buttons">&nbsp;&nbsp;Ativo&nbsp;&nbsp;</span>
            </div>
          </div>
          <!-- DESCRICAO DO PROCEDIMENTO -->
          <div class="row" ng-show="vm.isAdmin() === true">
              <textarea id="descricao"
                        cols="60"
                        rows="2"
                        class="form-control procedimento-descricao"
                        ng-model="procedimento.descricao"
                        placeholder="Atualize o Descritivo do Procedimento.">
              </textarea>
          </div>
          <!-- TIPO DO PROCEDIMENTO -->
          <div class="row" ng-show="vm.isAdmin() === true">
            <input type="text"
                   id="tipo"
                   class="form-control procedimento-tipo"
                   style="margin-top: 3px;"
                   ng-model="procedimento.tipo"
                   placeholder="Informe o Tipo do Procedimento aqui."/>
          </div>
          <!-- DURACAO DO PROCEDIMENTO -->
          <div class="row" ng-show="vm.isAdmin() === true">
            <input type="text"
                   id="duracao"
                   class="form-control procedimento-duracao"
                   style="margin-top: 3px;"
                   ng-model="procedimento.duracao"
                   placeholder="Informe a Dura&ccedil;&atilde;o (min.) do Procedimento aqui."/>
          </div>
          <!-- VALOR DO PROCEDIMENTO -->
          <div class="row" ng-show="vm.isAdmin() === true">
            <input type="text"
                   id="valor"
                   class="form-control procedimento-valor"
                   style="margin-top: 3px;"
                   ng-model="procedimento.valor"
                   placeholder="Informe o Valor (R$) do Procedimento aqui."/>
          </div>
          <!-- DETALHES DO PROCEDIMENTO -->
          <div class="row" ng-show="vm.isAdmin() === true">
            <textarea id="detalhes"
                      cols="60"
                      rows="3"
                      class="form-control procedimento-detalhes line-breaker"
                      ng-model="procedimento.detalhes"
                      placeholder="Atualize os Materiais e Detalhes do Procedimento.">
            </textarea>
            <button type="button" class="btn btn-sm procedimento-buttons tiny-form-buttons"
                    ng-click="vm.updateProcedimento(procedimento)">
              <b>ATUALIZAR</b>
            </button>

            <button type="button" class="btn btn-sm procedimento-buttons tiny-form-buttons"
                    ng-click="vm.limpar(procedimento)">
              <b>LIMPAR PROCEDIMENTO</b>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- NOVO PROCEDIMENTO FORM -->
<div class="row" ng-show="vm.isAdmin()">
  <div class="col-md-12">
    <form class="procedimento-form" name="form" ng-submit="vm.addProcedimento(form)" novalidate>
      <label class="subtitulo">Novo Procedimento praticado na MyClin CCA</label>
      <p class="input-group col-md-12">
      <div class="form-group">
        <input type="text" name="newProcedimento" class="form-control form-items"
               placeholder="INforme o titulo do procedimento aqui."
               ng-model="vm.newProcedimento"
               required>
      </div>
      <div class="form-group">
        <textarea name="newDescricaoProcedimento" class="form-control form-items"
                  placeholder="Descreva o procedimento aqui."
                  ng-model="vm.newDescricaoProcedimento"
                  cols="60"
                  rows="5"
                  required>
        </textarea>
      </div>
      <div class="form-group">
        <input type="text" name="newTipoProcedimento" class="form-control form-items"
               placeholder="Informe o tipo do procedimento aqui."
               ng-model="vm.newTipoProcedimento"
               required>
      </div>
      <div class="form-group">
        <input type="text" name="newDuracaoProcedimento" class="form-control form-items"
               placeholder="Informe a Dura&ccedil;&atilde;o (min.)  do procedimento aqui."
               ng-model="vm.newDuracaoProcedimento"
               required>
      </div>
      <div class="form-group">
        <input type="text" name="newValorProcedimento" class="form-control form-items"
               placeholder="Informe a Valor (R$) do procedimento, aqui."
               ng-model="vm.newValorProcedimento"
               required>
      </div>
      <div class="form-group">
        <textarea name="newDetalhesProcedimento" class="form-control form-items"
                  placeholder="Enumere aqui os Materiais e outros detalhes do procedimento."
                  ng-model="vm.newDetalhesProcedimento"
                  cols="60"
                  rows="5"
                  required>
        </textarea>
      </div>
      <div class="form-group has-error row">
        <ul class="help-block items"
            ng-show="(form.newProcedimento.$error.required || form.newDescricaoProcedimento.$error.required ||
                      form.newTipoProcedimento.$error.required || form.newDuracaoProcedimento.$error.required ||
                      form.newValorProcedimento.$error.required || form.newDetalhesProcedimento.$error.required)
            && vm.submitted">
          Favor informar:
          <li class="items  help-block" ng-show="form.newDescricaoProcedimento.$error.required && vm.submitted">
            Texto Descritivo do Procedimento.
          </li>
          <li class="items  help-block" ng-show="form.newProcedimento.$error.required && vm.submitted">
            Nome do Procedimento.
          </li>
          <li class="items  help-block" ng-show="form.newTipoProcedimento.$error.required && vm.submitted">
            Tipo do Procedimento.
          </li>
          <li class="items  help-block" ng-show="form.newDuracaoProcedimento.$error.required && vm.submitted">
            Dura&ccedil;&atilde;o (min.) do Procedimento.
          </li>
          <li class="items  help-block" ng-show="form.newValorProcedimento.$error.required && vm.submitted">
            Valor (R$) do Procedimento.
          </li>
          <li class="items  help-block" ng-show="form.newDetalhesProcedimento.$error.required && vm.submitted">
            Materiais e outros detalhes do Procedimento.
          </li>
        </ul>
        <p class="help-block">{{ vm.errors.procedimento }}</p>
      </div>
      <!--<span class="input-group-btn">-->
      <button type="button"
              class="btn btn-primary form-buttons"
              ng-click="vm.addProcedimento(form)">
        Adicionar Novo Procedimento
      </button>
      <!--</span>-->
    </form>
  </div>
</div>

