<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>

<div class="container">
  <h3 class="page-header titulo">DEPOIMENTOS</h3>
  <div class="row">
    <div class="col-md-12 items">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="depoimento in vm.Depoimentos">
        <li ng-show="{{depoimento.ativo}} === true || vm.isAdmin() === true" uib-tooltip="{{depoimento.emailAutor}}">
          {{depoimento.depoimento}}
          <div class="row" ng-show="vm.isAdmin()">
            <div class="depoimento-buttons">
              <label class="switch">
                <input type="checkbox"
                       ng-model="depoimento.ativo"
                       ng-click="vm.toggleActive(depoimento)"
                       ng-change="stateChanged(depoimento)"
                       aria-label="Ativo"/>
                <div class="slider round"></div>
              </label>
              <button type="button" class="btn btn-sm tiny-form-buttons" ng-click="vm.deleteDepoimento(depoimento)">
                <b>REMOVER</b>
              </button>&nbsp;&nbsp;Ativo&nbsp;
            </div>
          </div>
      </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="depoimento-form" name="form" ng-submit="vm.addDepoimento(form)" novalidate>
        <label class="subtitulo">Depoimentos sobre a MyClin CCA</label>
        <p class="input-group col-md-4">
          <div class="form-group">
            <input type="text" name="newDepoimento" class="form-control form-items"
                  placeholder="Adicionar um novo depoimento aqui."
                  ng-model="vm.newDepoimento"
                  required >
          </div>
          <div class="form-group">
          <input type="email" name="email" class="form-control form-items"
                  placeholder="Informe aqui seu Email"
                  ng-model="vm.newEmailAutor"
                  required >
            </div>
            <div class="form-group has-error row">
                <ul class="help-block items"
                    ng-show="(form.email.$error.required || form.email.$error.email || form.newDepoimento.$error.required) && vm.submitted">
                   Favor informar:
                   <li class="items help-block" ng-show="form.email.$error.required && vm.submitted">
                     Endere&ccedil;o de Email.
                   </li>
                   <li class="items help-block" ng-show="form.email.$error.email && vm.submitted">
                     Endere&ccedil;o de Email v&aacute;lido.
                   </li>
                   <li class="items  help-block" ng-show="form.newDepoimento.$error.required && vm.submitted">
                     Texto do Depoimento.
                   </li>
                </ul>
                <p class="help-block">{{ vm.errors.depoimento }}</p>
            </div>
          <!--<span class="input-group-btn">-->
            <button type="button"
                    class="btn btn-primary form-buttons"
                    ng-click="vm.addDepoimento(form)">
                    Adicionar Novo Depoimento
            </button>
          <!--</span>-->
        </p>
      </form>
    </div>
  </div>
</div>
