.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  font-family: 'Roboto Condensed';
  font-size: x-large;
  font-weight: bolder;
  color: #0098A1;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #58574E;
}

.mainbg {
  background-image: '../../assets/images/instalacoes.jpg';
  background-repeat: no-repeat;
}

.navbar-text {
  margin-left: 15px;
}
