<header class="hero-unit" id="banner">

  <div class="container">

  </div>
</header>

<div class="container">
  <div class="row">
    <h3 class="page-header titulo">INSTITUCIONAL</h3>
    <div class="col-lg-12">
      <img src="../../assets/images/instalacoes.jpg" class="col-md-12"/>
    </div>
  </div>
</div>
