.enlace-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}


.institucional {
  font-family: 'Roboto Condensed';
  font-size: larger;
  font-weight: normal;
  margin-left: 26%;
  margin-right: 26%;
  line-height: normal;
  color: black;
}


.subtitulo {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.items {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: normal;
  margin: 5px;
  vertical-align: middle;
  color: black;
}

.tooltip-inner {
  float: left;
}

.form-items {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: normal;
  margin: 5px;
}

.form-buttons {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tiny-form-buttons {
  background-color: #00a2aa !important;
  color: white;
}

.hero-unit {
  font-family: 'Roboto Condensed';
  font-size: x-large;
  font-weight: bolder;
  color: #0098A1;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #58574E;
}

.navbar-text {
  margin-left: 15px;
}

.enlace-buttons {
  float: right;
}
