<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>

<div class="container">
  <h3 class="page-header titulo">LINKS</h3>
  <div class="row">
    <div class="col-md-12 items">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"
      ng-repeat="enlace in vm.Enlaces">
      <li>
        <a href="{{enlace.url}}" target="_blank" tooltip-placement="bottom-left"  uib-tooltip="{{enlace.url}}">
          <span class="items">{{enlace.titulo}}</span>
      </a>
      <div class="enlace-buttons" ng-show="vm.isAdmin()">
        <!-- Rounded switch -->
        <label class="switch">
          <input type="checkbox"
           ng-model="enlace.ativo"
           ng-click="vm.toggleActive(enlace)"
           aria-label="Ativo">
          <div class="slider round"></div>
        </label>
        <button type="button" class="btn btn-sm tiny-form-buttons"
        ng-click="vm.deleteEnlace(enlace)"><b>Remover</b>
      </button>&nbsp;&nbsp;Ativo&nbsp;
    </div>
    </li>
  </ul>
</div>
</div>
<div class="row">
  <div class="col-md-12" ng-show="vm.isLoggedIn()" >
    <form class="enlace-form" name="form"  ng-submit="vm.addEnlace(form)" novalidate>
      <label class="subtitulo">Compartilhe Links interessantes...</label>
      <p class="input-group col-md-4">
        <div class="form-group">
          <input type="text" name="newTituloEnlace" class="form-control form-items"
          placeholder="Adicionar um T&iacute;tulo para o novo Link aqui."
          ng-model="vm.newTituloEnlace" required>
        </div>
        <div class="form-group">
          <input type="url" name="newEnlace" class="form-control form-items"
          placeholder="Adicionar um novo Link aqui."
          ng-model="vm.newEnlace" required>
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control form-items"
          placeholder="Informe aqui seu Email"
          ng-model="vm.newEmailAutor" required>
        </div>
        <div class="form-group has-error row">
          <ul class="help-block items" ng-show="( form.email.$error.required || form.email.$error.email || form.newEnlace.$error.required || form.newEnlace.$error.url || form.newTituloEnlace.$error.required) && vm.submitted">
            Favor informar:
            <li class="items help-block" ng-show="form.email.$error.required && vm.submitted">
              Endere&ccedil;o de Email.
            </li>
            <li class="items help-block" ng-show="form.email.$error.email && vm.submitted">
              Endere&ccedil;o de Email v&aacute;lido.
            </li>
            <li class="items help-block" ng-show="form.newEnlace.$error.required && vm.submitted">
              O endereço (URL) do link.
            </li>
            <li class="items help-block" ng-show="form.newEnlace.$error.url  && vm.submitted">
              Uma URL v&aacute;lida como endere&ccedil;o do Link.
            </li>
            <li class="item help-block" ng-show="form.newTituloEnlace.$error.required && vm.submitted">
              O T&iacute;tulo do Link.
            </li>
          </ul>
          <p class="help-block">{{ vm.errors.enlace }}</p>
        </div>
        <!--<span class="input-group-btn">-->
        <button type="button"
        class="btn btn-primary form-buttons"
        ng-click="vm.addEnlace(form)">
        Adicionar Novo Link
      </button>
      <!--</span>-->
    </p>
  </form>
</div>
</div>
</div>
