<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>
<div class="container">
  <h3 class="page-header titulo">REDEFINIR SENHA</h3>
  <div class="row">
    <div class="col-sm-12">
    </div>
    <div class="col-sm-12 items">
      <form class="form" name="form" ng-submit="vm.forgotPassword(form)" novalidate>
        <div class="form-group">
          <label class="items">Informe Endereço de Email Registrado</label>

          <input type="email" name="email" class="form-control" ng-model="vm.email" required>
        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-lg btn-primary form-buttons" type="submit">Redefinir Senha</button>
      </form>
    </div>
  </div>
</div>
