<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>
<div class="container">
  <h3 class="page-header titulo">CADASTRE-SE</h3>
  <div class="row">
    <div class="col-sm-12">

    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Nome Completo</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            O Nome Completo deve ser informado.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            O Email informado n&atilde;o parece ser v&aacute;lido.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            Qual &eacute; o seu endere&ccedil;o de Email?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>
        <div class="form-group">
          <label>CREMERS</label>
          <input type="text" name="cremers" class="form-control"
                  ng-model="vm.user.cremers" required/>
          <p class="help-block" ng-show="form.cremers.$error.required && vm.submitted">
            A Matr&iacute;cula do CREMERS deve ser ser informada.
          </p>
        </div>
        <div class="form-group">
          <label>Especialidade</label>
          <input type="text" name="especialidade" class="form-control"
                  ng-model="vm.user.especialidade" required/>
          <p class="help-block" ng-show="form.especialidade.$error.required && vm.submitted">
            A Especialidade da Medicina praticada pelo profissional deve ser ser informada.
          </p>
        </div>
        <div class="form-group">
          <label>Telefone</label>
          <input type="text" name="telefone" class="form-control"
                  ng-model="vm.user.telefone" required/>
          <p class="help-block" ng-show="form.telefone.$error.required && vm.submitted">
            O telefone do profissional deve ser ser informado.
          </p>
        </div>
        <div class="form-group">
          <label>RG</label>
          <input type="text" name="rg" class="form-control"
                  ng-model="vm.user.rg" required/>
          <p class="help-block" ng-show="form.rg.$error.required && vm.submitted">
            O número do RG do profissional deve ser ser informado.
          </p>
        </div>
        <div class="form-group">
          <label>CPF</label>
          <input type="text" name="cpf" class="form-control"
                  ng-model="vm.user.cpf" required/>
          <p class="help-block" ng-show="form.cpf.$error.required && vm.submitted">
            O número do CPF do  profissional deve ser ser informado.
          </p>
        </div>
        <div class="form-group">
          <label>Endere&ccedil;o</label>
          <input type="text" name="endereco" class="form-control"
                 ng-model="vm.user.endereco" required/>
          <p class="help-block" ng-show="form.endereco.$error.required && vm.submitted">
            O endere&ccedil;o deve ser ser informado.
          </p>
        </div>
        <div class="form-group">
          <label>Cidade</label>
          <input type="text" name="cidade" class="form-control"
                 ng-model="vm.user.cidade" required/>
          <p class="help-block" ng-show="form.cidade.$error.required && vm.submitted">
            A cidade deve ser ser informada.
          </p>
        </div>
        <div class="form-group">
          <label>Estado</label>
          <input type="text" name="uf" class="form-control"
                 ng-model="vm.user.uf" required/>
          <p class="help-block" ng-show="form.uf.$error.required && vm.submitted">
            O estado de  deve ser ser informado.
          </p>
        </div>
        <div class="form-group">
          <label>Estado Civil</label>
          <input type="text" name="estadoCivil" class="form-control"
                 ng-model="vm.user.estadoCivil" required/>
          <p class="help-block" ng-show="form.estadoCivil.$error.required && vm.submitted">
            O estado civil deve ser ser informado.
          </p>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Senha</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Repita a Senha</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            As Senhas devem ser iguais.
          </p>
        </div>

        <div>
          <button class="btn btn-lg btn-register btn-primary form-buttons" type="submit">
            Registrar
          </button>
          <a class="btn btn-default btn-lg btn-login  btn-primary form-buttons" ui-sref="login">
            Login
          </a>
        </div>

        <hr/>
        <!-- <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div> -->
      </form>
    </div>
  </div>
  <hr>
</div>
