<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>

<div class="container">
  <h3 class="page-header titulo">INSTITUCIONAL</h3>
  <div class="row institucional">
    <div class="col-md-12">
      <p style="text-align: justified; margin-top: 5%;">
        Diante da necessidade de op&ccedil;&otilde;es de f&aacute;cil acesso,
        desburocratizada e de menor custo, nasceu a <b>MyClin CCA</b> com a
        inten&ccedil;&atilde;o de preencher uma lacuna no atendimento de pacientes
        sem conv&ecirc;nio, que necessitam de realiza&ccedil;&atilde;o de procedimentos
        cir&uacute;rgicos de pequeno porte nas mais diferentes especialidades.
      </p>
      <p style="text-align: left; margin-top: 4%;  font-size: x-large; font-weight: bolder;">
        MyClin CCA
      </p>
      <p style="text-align: justified; margin-top: 4%;">
         A MyClin CCA &eacute; uma cl&iacute;nica de centro cir&uacute;rgico ambulatorial que conta com salas cir&uacute;rgica e de recupera&ccedil;&atilde;o. Um novo conceito para realização de procedimentos de pequeno porte ambulatoriais com as seguintes vantagens:
      </p>
      <ul style="text-align: justified; margin-top: 2%;"> <li>
        Redu&ccedil;&atilde;o do tempo de espera para o procedimento;
      </li>
      <li>
        Acesso desburocratizado, tanto para o paciente quanto para o m&eacute;dico;
      </li>
      <li>
        Redu&ccedil;&atilde;o de custo para o paciente com pagamento facilitado;
      </li>
      <li>
        Procedimento fora do ambiente hospitalar contribuindo na diminui&ccedil;&atilde;o do risco de infec&ccedil;&atilde;o cir&uacute;rgica.
      </li>
    </ul>
    <p style="text-align: left;  margin-top: 4%; font-weight: bolder;">
      Formas de Agendamento
    </p>
    <p style="text-align: justified; margin-top: 4%;">
      Os procedimentos ser&atilde;o agendados pelos m&eacute;dicos ap&oacute;s um cadastro realizado no site, aplicativo ou na própria clínica. O aplicativo ser&aacute; disponibilizado aos telefones celulares com sistema operacional I.O.S. e Android. O profissional m&eacute;dico dever&aacute; baixar o aplicativo da MyClin no seu celular, fazer login e senha, dando acesso à agenda de cirurgia,  podendo escolher a data e hor&aacute;rio e efetivar a marca&ccedil;&atilde;o do procedimento na palma de sua m&atilde;o.
    </p>

    <p style="text-align: left;  margin-top: 4%; font-weight: bolder;">
      Tipos de procedimentos
    </p>


    <p style="text-align: justified; margin-top: 4%;">
      A MyClin CCA oferece aos seus colaboradores local seguro e adequado para realiza&ccedil;&atilde;o de procedimentos de pequeno porte com anestesia local, tais como: retirada de sinais de pele; corre&ccedil;&otilde;es de cicatrizes; cistos; lipomas; cantoplastia, dentre outros.
    </p>

    <p style="text-align: left;  margin-top: 4%; font-weight: bolder;">
      Formas de Pagamento
    </p>

    <p style="text-align: justified; margin-top: 4%;">
      O pagamento ser&aacute; realizado diretamente na cl&iacute;nica em dinheiro ou no cart&atilde;o de cr&eacute;dito.
    </p>

    <p style="text-align: left;  margin-top: 4%; font-weight: bolder;">
      Consult&oacute;rios
    </p>

    <p style="text-align: justified; margin-top: 4%;">
      A MyClin conta com tr&ecirc;s consult&oacute;rios para atendimento m&eacute;dico, sendo que um deles para atendimento de pacientes com necessidades especiais.

      Os consult&oacute;rios ser&atilde;o destinados &agrave; loca&ccedil;&atilde;o para os profissionais m&eacute;dicos que tiverem interesse.

      Ser&atilde;o disponibilizados prontu&aacute;rios eletr&ocirc;nicos, avisos de consultas e confirma&ccedil;&atilde;o de agendamentos.
    </p>
    <p style="text-align: left; margin-top: 4%; font-weight: bolder;">
      Sistema de climatiza&ccedil;&atilde;o
    </p>

    <p style="text-align: justified; margin-top: 4%; ">
      A MyClin CCA conta com inova&ccedil;&atilde;o em tratamento do ar nas suas depend&ecirc;ncias.

      O sistema de climatiza&ccedil;&atilde;o est&aacute; totalmente de acordo com as legisla&ccedil;&otilde;es espec&iacute;ficas RDC50 e ABNT NBR7256, onde foram adotadas todas as recomenda&ccedil;&otilde;es necess&aacute;rias a fim de garantir a qualidade do ar adequado,  reduzindo os riscos biol&oacute;gicos e qu&iacute;micos transmiss&iacute;veis pelo ar.
    </p>

    <p style="text-align: left;  margin-top: 4%; font-weight: bolder;">
      Localiza&ccedil;&atilde;o
    </p>

    <p style="text-align: justified; margin-top: 4%;">
      A MyClin CCA tem localiza&ccedil;&atilde;o privilegiada no Centro Hist&oacute;rico de Porto Alegre, pr&oacute;xima a grande n&uacute;mero de consult&oacute;rios, hospitais, estacionamentos, com grande facilidade de acesso de qualquer ponto da cidade, atrav&eacutes de transporte p&uacute;blico ou particular.
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.262637561003!2d-51.22355298665157!3d-30.029322181887768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95197907f849951b%3A0x6de4b45e1629ba75!2sAv.+Independ%C3%AAncia%2C+30+-+Centro%2C+Porto+Alegre+-+RS%2C+90035-074!5e0!3m2!1sen!2sbr!4v1484695385059" width="400" height="320" frameborder="2" style="border:2; border-color: black; margin-top: 5%;" allowfullscreen>
    </iframe>

    <p style="text-align: left; margin-top: 4%; font-weight: bolder;">
      Contato:
    </p>

    <p style="text-align: justified; margin-top: 4%;">
      Av. Independencia, 30 <br/>

      Sala 10 <br/>

      Centro Hist&oacute;rico <br/>

      Porto Alegre - RS <br/>

      51 3024 0051 <br/>

      51 99914 5647 <br/>
    </p>




    <p style="text-align: left; margin-top: 4%; font-weight: bolder;">
      Respons&aacute;vel T&eacute;cnico
    </p>


    <p style="text-align: justified; margin-top: 4%;">
      <B>Dr. M&aacute;rcio Fernando Lopes de Oliveira</B><BR/>

      CREMERS 21.914<br/>
      <br/>
    </p>
  </div>
</div>
