<header class="hero-unit" id="banner">
  <div class="container">

  </div>
</header>

<div class="container">
  <h3 class="page-header titulo">CL&Iacute;NICA</h3>
  <div class="row">
    <div class="col-md-12 items">
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="clinica in vm.Clinicas">
        <li ng-show="clinica.ativo === true || vm.isAdmin() === true">
          <div ng-if="clinica.tipo !== 'Imagem'">
            <!-- TITULO DA SECAO -->
            <div ng-show="vm.isAdmin() === true">
              <input type="text"
                     id="secao"
                     class="form-control clinica-conteudo"
                     style="margin-left: -15px; margin-top: 50px;"
                     ng-model="clinica.secao"
                     placeholder="Se&ccedil;&atilde;o sem Título. Informe o Titulo aqui."/>
            </div>
            <div ng-show="vm.isAdmin() === false">
              <p class="clinica-secao">
                {{clinica.secao}}
              </p>
            </div>

            <!-- SWITCH ATIVACAO -->
            <div class="row" ng-show="vm.isAdmin()">
              <div class="clinica-buttons">
                <label class="switch">
                  <input type="checkbox"
                         ng-model="clinica.ativo"
                         ng-click="vm.toggleActive(clinica)"
                         ng-change="stateChanged(clinica)"
                         aria-label="Ativo"/>
                  <div class="slider round"></div>
                </label>
                <button type="button" class="btn btn-sm clinica-buttons tiny-form-buttons" ng-click="vm.deleteClinica(clinica)">
                  <b>REMOVER</b>
                </button>
                <span class="clinica-buttons">&nbsp;&nbsp;Ativo&nbsp;&nbsp;</span>
              </div>
            </div>


            <!-- CONTEUDO DA SECAO -->
            <div class="row" ng-show="vm.isAdmin() === true">
              <div ng-if="clinica.tipo === 'Texto'">
                <textarea id="conteudo"
                          cols="60"
                          rows="5"
                          class="form-control clinica-conteudo"
                          ng-model="clinica.conteudo"
                          placeholder="Atualize a Conteudo da Se&ccedil;&atilde;o da Cl&iacute;nica.">
                </textarea>
              </div>

              <button type="button" class="btn btn-sm clinica-buttons tiny-form-buttons"
                      ng-click="vm.updateClinica(clinica)">
                <b>ATUALIZAR</b>
              </button>

              <button type="button" class="btn btn-sm clinica-buttons tiny-form-buttons"
                      ng-click="vm.limpar(clinica)">
                <b>LIMPAR CONTEUDO</b>
              </button>
            </div>


            <div ng-show="vm.isAdmin() === false">
              <div class="col-md-12 items" ng-if="clinica.ativo && clinica.tipo === 'Texto'">
                <p ng-show="clinica.tipo === 'Texto'"
                   class="line-breaker"
                   style="text-align: justified; margin-top: 1%; margin-bottom: 1%;">
                  {{clinica.conteudo}}
                </p>
              </div>
            </div>
        </div>
        <div ng-show="clinica.tipo === 'Imagem'">
          <div ng-show="vm.isAdmin() === false">
            <div class="col-md-12 items" ng-if="clinica.ativo">
              <img class="col-md-4" src="{{clinica.conteudo}}" ng-show="clinica.tipo === 'Imagem'">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- NOVA SECAO FORM -->
<div class="row" ng-show="vm.isAdmin()"">
<div class="col-md-12">
  <form class="clinica-form" name="form" ng-submit="vm.addClinica(form)" novalidate>
    <label class="subtitulo">Nova Se&ccedil;&atilde;o sobre MyClin CCA</label>
    <p class="input-group col-md-12">
    <div class="form-group">
      <input type="text" name="newSecaoClinica" class="form-control form-items"
             placeholder="Adicionar uma nova se&ccedil;&atilde;o aqui."
             ng-model="vm.newSecaoClinica"
             >
    </div>
    <div class="form-group">
      <textarea name="newConteudoSecaoClinica" class="form-control form-items"
        placeholder="Adicionar o Conteudo da Se&ccedil;&atilde;o aqui."
        ng-model="vm.newConteudoSecaoClinica"
        cols="60"
        rows="5"
        required>
      </textarea>
    </div>
    <div class="form-group has-error row">
      <ul class="help-block items"
          ng-show="(form.newConteudoSecaoClinica.$error.required) && vm.submitted">
        Favor informar:
        <li class="items  help-block" ng-show="form.newConteudoSecaoClinica.$error.required && vm.submitted">
          Texto do Conteudo da Se&ccedil;&atilde;o da Clinica..
        </li>
      </ul>
      <p class="help-block">{{ vm.errors.clinica }}</p>
    </div>
    <!--<span class="input-group-btn">-->
    <button type="button"
            class="btn btn-primary form-buttons"
            ng-click="vm.addClinica(form)">
      Adicionar Nova Se&ccedil;&atilde;o da Clinica
    </button>
    <!--</span>-->
    </p>
  </form>
</div>
</div>
</div>
