.clinica-form {
  margin: 20px 0;
}

.clinica-buttons {
  float:left;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.clinica-conteudo {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.clinica-secao {
  text-align: left;
  margin-top: 4%;
  font-size: x-large;
  font-weight: bolder;
}


#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}


.institucional {
  font-family: 'Roboto Condensed';
  font-size: larger;
  font-weight: normal;
  margin-left: 26%;
  margin-right: 26%;
  line-height: normal;
  color: black;
}


.subtitulo {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.items {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: normal;
  margin: 5px;
}

.form-items {
  font-family: 'Roboto Condensed';
  font-size: large;
  font-weight: normal;
  margin: 5px;
}

.hero-unit {
  font-family: 'Roboto Condensed';
  font-size: x-large;
  font-weight: bolder;
  color: #0098A1;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #58574E;
}

.navbar-text {
  margin-left: 15px;
}

.line-breaker {
  white-space: pre-line;
}
