Olá <b>{{usuario}}</b>,<br>
<br>
Esta mensagem é para informá-lo que geramos uma nova<br/>
senha tempórária para você acessar o MyClin.cca.<br/>
<br/><br/>
Entre no site do <a href="http://myclincca.com.br">MyClincca</a> e faça o seu login<br/>
utilizando esta senha. A mesma somente poderá ser utilizada<br/>
uma única vez.<br/>
<br/><br/>
Assim que acessar o sistem, troque esta senha por uma de sua<br/> 
preferência e total sigilo.<br/>
<br/><br/>
A sua senha temporária é: {{senha_temporaria}}<br/>
<br/><br/>
Atenciosamente,<br/>
--<br/>
<b>Equipe MyClin.cca</b><br/><br/>